.idea/
*.iml
*.class
target/
.settings/
.metadata/
*.classpath
*.project
bc.zip
log.txt
*.ipr
*.iws
dependency-reduced-pom.xml
.pmdruleset.xml
.pmd
.checkstyle
**/logs
kerby-dist/kdc-dist/bin/start-kdc-debug.sh
